@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";


header {
    position:relative;
    margin: 0;
    width:100%;
    height:500px;
    overflow: hidden;
}

video {
    position: absolute;
    width: 100%;
    height: auto;
    z-index:-1;
}

img {
  height: 75px;
}

nav {
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 20px;
}
ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 5px;
}

a {
  text-decoration: none;
  background-color: white;
  color: $blue;
  padding: 10px 20px;
  display: block;
}

a:hover {
  background-color: $blue;
  color: white;
}

.dropdown {
  position: relative;
}

.dropnav {
  position: absolute;
  display: none;
}

.dropnav li {
  width: 150px;
  margin: 0;
}

.dropdown:hover .dropnav {
  display: block;
}

h1 {
  color: $blue;
  margin-top: 115px;
  font-size: 40px;
}

h3 {
  color: white;
  font-size: 20px;
}

h1, h2, h3 {
  @include font;
}

.ourpledgesection {
  background-color: $blue;
  padding-top: 75px;
  padding-bottom: 75px;
  color: white;
}
.ourpledgeline {
  margin: 0 215px 0 215px;
}
.ourpledgeparagraph {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 16px;
  margin: 0 210px 0 210px;
  line-height: 200%;
}

.theissuessection {
  background-color: $gray;
  padding-top: 75px;
  padding-bottom: 75px;
}

.theissues, .theissuesheader, .contactinfo {
  color: $blue;
}

.theissuesline {
  color: $textgray;
  margin: 0 20%;
}

.theissuesparagraph {
  text-align: center;
  padding-top: 10px;
  color: $textgray;
  font-size: 16px;
  margin: 0 20%;
  line-height: 200%;
}

p {
  color: $textgray;
  line-height: 200%;
}

.page {
  background-color: $gray;
  padding: 0 20%;
}
article {
  display: inline-block;
  width: 22.6%;
  background-color: white;
  margin: 0 auto;
  margin-right: 2%;
  height: 300px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 20px;
}

.fa {
  width: 40px;
  border: 1px solid $blue;
  font-size: 40px;
  color: $blue;
  border-radius: 100%;
  padding: 10px;
  margin-top: 20px;
}

.fa:hover {
  background-color: $blue;
  color: white;
}

footer {
  display: inline-block;
  background-color: $gray;
  width: 100%;
}

.contactinfo {
  display: inline-block;
  text-align: center;
  width: 33%;
}

@import "mediaqueries.scss";
