@import "normalize.scss";
@import "variables.scss";
@import "mediaqueries.scss";
@import "mixins.scss";


header {
    position:relative;
    margin: 0;
    width:100%;
    height:500px;
    overflow: hidden;
}

video {
    position: absolute;
    width: 100%;
    height: auto;
    z-index:-1;
}

img {
  height: 75px;
  margin-top: 20px;
  margin-left: 215px;
}

ul {
  float: right;
  margin-right: 225px;
  margin-top: 30px;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  background-color: white;
  color: $blue;
  padding: 10px;
}

a:hover {
  background-color: $blue;
  color: white;
}

h1 {
  color: $blue;
  margin-top: 115px;
  font-size: 40px;
}

h3 {
  color: white;
  font-size: 20px;
}

h1, h2, h3 {
  @include font;
}

.ourpledgesection {
  background-color: $blue;
  padding-top: 75px;
  padding-bottom: 75px;
  color: white;
}
.ourpledgeline {
  margin: 0 215px 0 215px;
}
.ourpledgeparagraph {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 16px;
  margin: 0 210px 0 210px;
  line-height: 200%;
}

.theissuessection {
  background-color: $gray;
  padding-top: 75px;
  padding-bottom: 75px;
}

.theissues, h3, .contactinfo {
  color: $blue;
}

.theissuesline {
  color: $textgray;
  margin: 0 250px 0 250px;
}

.theissuesparagraph {
  text-align: center;
  padding-top: 10px;
  color: $textgray;
  font-size: 16px;
  margin: 0 245px 0 245px;
  line-height: 200%;
}

.page {
  background-color: $gray;
  height: 600px;
  position: absolute;
}

.energy, .airandwater, .climatechange, .coalash {
position: relative;
display: inline-block;
width: 19%;
height: 400px;
border: 1px solid black;
background-color: white;
margin-right: 20px;
text-align: center;
padding: 10px 10px 45px 10px;
margin-bottom: 50px;
}
p {
  color: $textgray;
  line-height: 200%;
}

i {
  color: $blue;
  border: 1px solid $blue;
  padding: 15px;
  margin: auto;
  border-radius: 40px;
}

i:hover {
  color: white;
  background-color: $blue;
}
.contactinfo {
  display: inline-block;
  width: 25%;
  padding-left: 50px;
  padding-right: 50px;
}
